<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ClairPrev - PrevIT</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>
<body>
	
		<h1>ClairPrev Prévoyance - Confirmation</h1>

		<label> Contrat bien modifié; Nouveau Numero=</label>
		<label th:text=${contratCree.numeroContrat}></label>
		

			<script type="text/javascript"
				src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>